

<h1>Userstats</h1>

<div class="container">
  <% @userstats.each do |userstat| %>
    <span class="parent">
      <img class=<%= userstat.clear %> src= <%= "assets/#{userstat.difficulty.photo}" %> />
    </span>
  <% end %>
</div>

<br>

<%= link_to 'New Userstat', new_userstat_path %>
