<h3><%= @user.username %>, welcome to ClearVoltex Beta!</h3>

<p>Your account has been activated for ClearVoltex. You may now start using the application by logging in at clearvoltex.net</p>
<p>Reminder: This service is still in beta stage. Any feedback is welcome and should be messaged directly to the developer, or clearvoltex@gmail.com with the subject starting with "Feedback:"</p>

<p>I promise, emails will look much better later on :D</p>