<h3><%= @user.username %>,</h3>

<p>To reset your password, please click on the provided link below.</p>

<%= link_to "Reset password", edit_password_reset_url (@user.reset_token, email: @user.email) %>

<p>This link will reset within 2 hours.</p>

<p>If you have not requested for your password to be reset, please ignore this message. As long as you do not take any extra action, your password will remain as-is</p>

<p>If you have any questions and/or concerns please email the admin at admin@clearvoltex.net</p>