<nav class="top-nav"> 
  <div class="nav-wrapper blue darken-2">
    <a href="/users" class="brand-logo">ClearVoltex</a>
    <ul class="right">
      <% if logged_in? %>
        <li><%= link_to "Log out", logout_path, method: "delete"%></li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="container">
    <% flash.each do |type, message| %>
      <% if type == "success" %>
        <script>
          $(function() {
            Materialize.toast('<%= message %>', 5000, 'green');
          });
        </script>
      <% else %>
        <script>
          $(function() {
            Materialize.toast('<%= message %>', 15000, 'red');
          });
        </script>
      <% end %>
    <% end %>
  </div>
</nav>