<div class = "toc-wrapper">
    <br>
    <span class = "instruction_not_played">
      <div class = "square">
      </div>
      Not Played
    </span>
    <br>
    <span class = "instruction_failed">
      <div class = "square">
      </div>
      Failed
    </span>
    <br>
    <span class = "instruction_cleared">
      <div class = "square">
      </div>
      Cleared
    </span>
    <br>
    <span class = "instruction_excessive">
      <div class = "square">
      </div>
      Excessive
    </span>
    <br>
    <span class = "instruction_UC">
      <div class = "square">
      </div>
      UC
    </span>
    <br>
    <span class = "instruction_PUC">
      <div class = "square">
      </div>
      PUC
    </span>
</div>