<div id="instruction-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Instructions</h4>
    <br>
    By clicking on the song jacket, you can update your clear/score state.
    <br>
    <br>
    The button on the right allows you to change which state to save, with the text showing you the current mode. You can switch between Clear and Score with a click of a button.
    <br>
    <br>
    In addition, clicking on the difficulty tag (i.e. EXH) will directly take you to song's page, which shows clear rate for the song as well as comment section, which you can use to provide helpful tips for each song
    <br>
    <br>
	<div class = "row">
		<div class = "col s4 offset-s4">
		    Color codes:
    		<br>
		    <div class = "instruction_not_played">
		      <div class = "square">
		      </div>
		      Not Played
		    </div>
		    <div class = "instruction_failed">
		      <div class = "square">
		      </div>
		      Failed
		    </div>
		    <div class = "instruction_cleared">
		      <div class = "square">
		      </div>
		      Cleared
		    </div>
		    <div class = "instruction_excessive">
		      <div class = "square">
		      </div>
		      Excessive
		    </div>
		    <div class = "instruction_UC">
		      <div class = "square">
		      </div>
		      UC
		    </div>
		    <div class = "instruction_PUC">
		      <div class = "square">
		      </div>
		      PUC
		    </div>
		</div>
	</div>
    <br>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>