<div class="toc-wrapper">
	<% if can? :manage, @user %>
    	<a class="waves-effect waves-light btn blue" onclick="change_status(this)">Clear</a>
    <% end %>
	<ul class="section table-of-contents">
	<% dans.each do |dan_level| %>
		<% if !(dan_level.nil?) %>
			Level<%= dan_level.first.first.level %>
			<li><a href=<%= "#dan_#{dan_level.first.first.level}" %>>Level<%= dan_level.first.first.level %></a></li>
		<% end %>
	<% end %>
	<br>
	<li><a href="#top">Top</a></li>
	</ul>
</div>

<!-- figure out how I can create page without having all userstats -->