<div class="toc-wrapper">
	<% if can? :manage, @user %>
    	<a class="waves-effect waves-light btn blue" onclick="change_status(this)">Clear</a>
    <% end %>
	<ul class="section table-of-contents">
	Level<%= level %>
		<% tiers.each do |tier| %>
			<% if tier.exists? %>
				<li><a href=<%= "##{level}_#{tier.first.tier}" %>><% if tier.first.tier == "N" %>Not Rated<% elsif tier.first.tier == "P" %>Personal<% else %><%= tier.first.tier %><% end %></a></li>
		<% end %>
	<% end %>
	<br>
	<li><a href="#top">Top</a></li>
	</ul>
</div>

<!-- figure out how I can create page without having all userstats -->