<h3>Clearly Not Level 17-18</h3>
<% userstats.each do |userstat| %>
  <span class="parent">
    <img class=<%= userstat.clear %> src= <%= asset_url "song#{userstat.difficulty.photo}" %> onclick="update_clear(this, <%= userstat.id %>)" />
    <img class="difficulty_tag" src = <%= asset_url "difficulty/#{userstat.difficulty.difficulty_name}.png" %> />
  </span>
<% end %>