<div class="container">
	<div class="row">
		<div class="col s12 center-align">
			<h5>ClearVoltex BETA</h5>
			<br>
			<br>
			Reminder: This is still the beta and data might be erased/dropped without notice. If there is such an event, it will be updated on this page.
		</div>
		<div class="col s12">
			<br>
			<br>
			4/3/17
			Version Update: Dan support added to the system! It has a separate tab next to Level 19~20, and can be used to save clear/scores just like regular songs.

			Also, you can view other users in the system and view their status.
			<br>
			3/13/17
			Minor bug fixes applied (mostly front end)
			<br>
			<br>
		</div>
	</div>
</div>