<div class="container">
	<div class="row">
		<div class="col s12 center-align">
			<h5>Welcome to ClearVoltex, Beta edition. Use the menu on upper right hand corner to get started.</h5>
			<br>
			<br>
			Reminder: This is still the beta and data might be erased/dropped without notice. If there is such an event, it will be updated on this page.
		</div>
		<div class="col s12">
			<br>
			3/13/17
			Minor bug fixes applied (mostly front end)

			Functionalities to come:
			Better usage of clicks (left click, right click to cycle forward/backward)
			Add more functionalities to thecomments section
			Instructions page
			<br>
			Ver 0.2:
			Each difficulty has comment page. Click on the difficulty image (i.e. EXH) to visit the page.
			Comments have upvote/downvote functionality. Reports do not work yet.
			<br>
			<br>
			Ver 0.1:
			Simple functionality done.
		</div>
	</div>
</div>