<div class="container">
	<div class="row">
		<div class="col s12 center-align">
			<h5>Welcome to ClearVoltex, Beta edition.</h5>
			<br>
			<br>
			Reminder: This is still the beta and data might be erased/dropped without notice. If there is such an event, it will be updated on this page.
		</div>
		<div class="col s12">
			<br>
			<br>
			Ver 0.2:
			Each difficulty has comment page. Click on the difficulty image (i.e. EXH) to visit the page.
			<br>
			Comments have upvote/downvote functionality. Reports do not work yet.
			<br>
			Minor bug fixes have been applied (mobile compatibility, buttons, and materialize css bugs)
			<br>
			<br>
			Ver 0.1:
			Simple functionality done.
		</div>
	</div>
</div>