<div class="row">
	<div class="col s12 m8 l6 offset-m2 offset-l3">
	<h5>User Comments</h5>
	</div>
	<% comments.each do |comment| %>
		<div class="col s12 m8 l6 offset-m2 offset-l3">
			<%= comment.user.display_name %> says:
			<br>
			<%= comment.content %>
			<br>
		</div>
		<div class="col s12 m8 l6 offset-m2 offset-l3 right-align">
			<a class="btn-floating waves-effect waves-light blue lighten-4"><i class="material-icons">keyboard_arrow_up</i></a>
			<a class="btn-floating waves-effect waves-light blue lighten-4"><i class="material-icons">keyboard_arrow_down</i></a>
			<a class="btn-floating waves-effect waves-light blue lighten-4"><i class="material-icons">warning</i></a>
		</div>
	<% end %>
</div>