/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";

 .preloader-wrapper{
    left: 50%;
    top: 400px;
    background-color: #FFFFFF;
 }

.tabs {
overflow-x: hidden;
}

.tabs .tab a{
    color:#42a5f5;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#e3f2fd;
    color:#42a5f5;
} /*Text color on hover*/

.tabs .tab a.active {
    color:#42a5f5;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#42a5f5;
} /*Color of underline*/

.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 90%;
}

.table-of-contents{
	a:hover {
		border-left: 1px solid #42a5f5
	}
}

.table-of-contents{
	a.active {
		border-left: 2px solid #42a5f5
	}
}

.scrollspy{
	position: relative;
}

.switch-wrapper{
  height: 100%;
}