// Place all the styles related to the userstats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.not_played {
	position: relative;
	top: 0;
	left: 0;
	border:9px solid;
	filter: grayscale(100%);
}

.failed {
 	position: relative;
    top: 0;
	left: 0;
	border:9px solid #808080;
	filter: grayscale(50%);
}

.cleared {
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #00cc00;
}

.excessive {
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #990099;
}

.UC {
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #ff3399;
}

.PUC {
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #ffff00;
}

.parent {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
}

.difficulty_tag{
	position: absolute;
	top: 159px;
	left: 132px;
}