// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.not_played {
	display: inline-block;
	height: 175px;
	width: auto;
	position: relative;
	top: 0;
	left: 0;
	border:9px solid;
	filter: grayscale(100%);
}

.failed {
	display: inline-block;
	height: 175px;
	width: auto;
 	position: relative;
    top: 0;
	left: 0;
	border:9px solid #808080;
	filter: grayscale(50%);
}

.cleared {
	height: 175px;
	width: auto;
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #00cc00;
}

.excessive {
	height: 175px;
	width: auto;
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #990099;
}

.UC {
	height: 175px;
	width: auto;
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #ff3399;
}

.PUC {
	height: 175px;
	width: auto;
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #ffff00;
}

.parent {
	display: inline-block;
	position: relative;
	height: 175px;
	top: 0;
	left: 0;
}

.difficulty_tag{
	-webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
	width: 45px;
	height: auto;
	position: absolute;
	top: 140px;
	left: 115px;
}

.score_tag{
	-webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
	position: absolute;
	top: 137px;
	left: 13px;
}

.dan_song {
	height: 157px;
	width: auto;
	position: relative;
} 

.dan_not_played {
	height: 175px;
	width: 489px;
	position: relative;
	top: 0;
	left: 0;
	border:9px solid;
}

.dan_not_played .dan_song {
	filter: grayscale(100%);
}

.dan_failed {
	height: 175px;
	width: 489px;
 	position: relative;
    top: 0;
	left: 0;
	border:9px solid #808080;
}

.dan_failed .dan_song {
	filter: grayscale(50%);
}

.dan_cleared {
	height: 175px;
	width: 489px;
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #00cc00;
}

.dan_UC {
	height: 175px;
	width: 489px;
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #ff3399;
}

.dan_PUC {
	height: 175px;
	width: 489px;
	position: relative;
	top: 0;
	left: 0;
	border:9px solid #ffff00;
}

.dan_parent {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
}

.dan_difficulty_1_tag{
	-webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
	width: 45px;
	height: auto;
	position: absolute;
	top: 131px;
	left: 106px;
}

.dan_difficulty_2_tag{
	-webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
	width: 45px;
	height: auto;
	position: absolute;
	top: 131px;
	left: 263px;
}

.dan_difficulty_3_tag{
	-webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
	width: 45px;
	height: auto;
	position: absolute;
	top: 131px;
	left: 420px;
}

.dan_score_tag{
	-webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
	position: absolute;
	top: 128px;
	left: 4px;
}